//Primary Colors
$Primary-blue: #1773B0;
$Primary-white: #FFFFFF;

//Secondary Colors
$Secondary-grey: #707070;
$Secondary-: #BDC5D5;

//Background Colors
$Background-grey: #DEDEDE;
$Background-: #F7F8F9;