.overlay{
    font-family: 'Roboto', sans-serif;
    background-color: rgba($color: #000000, $alpha: 0.25);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}

.chat{
    height: 100%;
    max-height: 640px;
    max-width: 361px;
    width: 100%;

    &__head{
        background-color: #1773B0;
        border-radius: 16px 16px 0 0;
        color: #FFF;
        padding: 0.8125rem;
    }

    &__store{
        font-size: 1rem;
        font-weight: 600;
    }

    &__description{
        font-size: 0.75rem;
    }

    &__body{
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        border-radius: 0 0 16px 16px;
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    &__message{
        flex-grow: 1;
        overflow: auto;
    }

    &__query{
        position: relative;
        padding-top: 2rem;
    }

    &__input{
        padding: 0 0.75rem 0 0.875rem;
        border: 2px solid #D3E7FF;
        background-color: #F0F7FF;
        border-radius: 52px;
        min-height: 2.75rem;
        max-height: 2.75rem;
        width: 100%;

        &:focus{
            background-color: #FFFFFF;
            outline: none;
            border: 2px solid #0067DD;

            &::placeholder{
                color: #A6A6A6;
            }
        }

        &:not(:disabled){
            &:hover{
                border: 2px solid #0067DD;
            }
        }

        &::placeholder{
            color: #0067DD;
        }

        &--disabled{
            background-color: #FAFAFA;
            border: 2px solid #F2F2F2;
        }

        &--disabled::placeholder{
            color: #A6A6A6;
        }

        &--error{
            border: 2px solid #C94515;
        }
    }

    &__send-icon{
        border: none;
        background-color: inherit;
        background-image: url('../../assets/icons/send.svg');
        position: absolute;
        max-width: 1.5rem;
        min-width: 1.5rem;
        max-height: 2.75rem;
        min-height: 2.75rem;
        background-position: center;
        background-repeat: no-repeat;
        right: 0;
        bottom: 0;
        margin-right: 0.75rem;

        &:disabled{
            background-image: url('../../assets/icons/disable.svg');
        }

        &--fill{
            max-width: 1.5rem;
            min-width: 1.5rem;
            max-height: 2.75rem;
            min-height: 2.75rem;
            background-image: url('../../assets/icons/vector.svg');
        }
    }
}

.message{
    font-size: 0.875rem;
    max-width: 16.3125rem;
    border-radius: 0.5rem;
    border: 1px solid #ECECEC;
    padding: 0.5rem;
    margin: 0.5rem 0;

    &:first-of-type{
        margin-top: 0;
    }

    &__button{
        border-radius: 30px;
        border: 1px solid #3C7FEB; 
        background-color: inherit;
        padding: 0.5rem 1rem;
    }

    &__buttons{
        margin-top: 2rem;
        display: flex;
        justify-content: right;
        gap: 0.5rem;
    }

    &--right{
        color: #FFF;
        width: fit-content;
        padding: 0.5rem;
        background-color: #1773B0;
        margin: 1rem 0 1rem auto;
    }

    &__dropdown{
        border: 1px solid #ECECEC; 
        padding: 0.5rem;
        max-width: 17.375rem;

        &:focus{
            border: 1px solid #ECECEC;
            outline: none;
        }
    }

    &__select{
        border: 1px solid #ECECEC; 
        padding: 1rem 0.5rem;
        font-size: 0.875rem;
        margin-top: 0.5rem;
        width: 100%;
    }

    &__checkboxes{
        position: relative;
        width: fit-content;
        font-size: 0.875rem;
        padding: 0.5rem;
        border: 1px solid #ECECEC;
        border-radius: 16px;
    }

    &__list{
        list-style: none;
        margin-top: 0.625rem;
        border-radius: 16px;
        border: 1px solid #ECECEC;
    }

    &__checkbox-container{
        padding: 0.8125rem 1rem;
        border-top: 1px solid #ECECEC;

        &:first-of-type{
            border-top: none;
        }
    }
}

.icon{
    &--vector{
        display: inline-flex;
        min-width: 1.1875rem;
        max-width: 1.1875rem;
        min-height: 1.1875rem;
        max-height: 1.1875rem;
        background-image: url('../../assets/icons/vector.svg');
        position: relative;
        left: 2px;
    }

    &--error{
        width: 0.875rem;
        height: 0.875rem;
        background-image: url('../../assets/icons/error-24px.svg');
        display: inline-block;
        background-position: center;
        background-size: contain;
    }
}

.error{
    padding-left: 1rem;
    display: none;
    color: #C94515;
    font-size: 0.75rem;

    &--show{
        display: flex;
        border-radius: 2px solid #C94515;
    }
}

.button{
    &--vector{
        position: absolute;
        display: flex;
        background-color: #F0F7FF;
        padding: 0.5rem;
        border-radius: 40px;
        border: none;
        align-items: center;
        justify-content: center;
        bottom: -10px;
        right: -10px;
    }
}